
@{
    ViewBag.Title = "Deleted";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Birthday deleted</h1>

<p>The birthday has been removed from the database.</p>
<p>@Html.ActionLink("Back to listing", "Index")</p>

