@model NextBirthday.Models.Birthday

@{
    ViewBag.Title = "Update a birthday";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Update a birthday</h1>

@Html.Partial("_BirthdayForm")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
