@model NextBirthday.Models.Birthday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Next birthday</h1>
    <form action="" method="post">
        @using(Html.BeginForm())
        {            
            <div>
                @Html.LabelFor(model => model.Name):
            </div>
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Birthdate):
            </div>
            <div>
                @Html.EditorFor(model => model.Birthdate)
            </div>       

            <div>
                <p>
                    <input type="submit" value="Send" />
                </p>
            </div>            
        }
    </form>
</body>
</html>
