
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Next birthday</h1>
    <form action="/" method="post">
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input name="name" type="text" />
        </div>
        <div>
            <label for="birthdate">Birthdate</label>
        </div>
        <div>
            <input name="birthdate" type="text" />
        </div>
    </form>
</body>
</html>
