@model TestProject.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomer</title>
</head>
<body>
    <div>
        The customer ID is: @Model.Id <br />
        The customer code is: @Model.CustomerCode <br />

        @if (Model.Amount < 100)
        {
            <p>This is a normal customer</p>
        }
        else
        {
            <p>This is a priveleged customer</p>
        }
    </div>
</body>
</html>
