
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FillCustomer</title>
</head>
<body>
    <div> 
        <form action="DisplayCustomer" method="post">
            Customer ID: <input type="text" name="CustomerId" /><br />
            Customer Code: <input type="text" name="CustomerCode" /><br />
            Amount: <input type="text" name="Amount" /><br />
            <input type="submit" value="Save customer" /><br />
        </form>
    </div>
</body>
</html>
